@model IEnumerable<WebRPG.MVC.Models.RumorModel.ShowRumorsModel>

@{
    ViewBag.Title = "ShowRumors";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>ShowRumors</h3></div>
        <div class="panel-body">
            <table class="table table-condensed" style="border-collapse:collapse;">


                <thead>
                    <tr>
                        @Html.DisplayNameFor(model => model.Name)
                    </tr>
                </thead>

                <tbody>
                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                        <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>


                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="demo1">
                                <table class="table table-striped">
                                    <thead>
                                        <tr><td><a href="WorkloadURL">Workload link</a></td><td>Bandwidth: Dandwidth Details</td><td>OBS Endpoint: end point</td></tr>
                                        <tr><th>Access Key</th><th>Secret Key</th><th>Status </th><th> Created</th><th> Expires</th><th>Actions</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>access-key-1</td>
                                            <td>secretKey-1</td>
                                            <td>Status</td>
                                            <td>some date</td>
                                            <td>some date</td>
                                            <td>
                                                <a href="#" class="btn btn-default btn-sm">
                                                    <i class="glyphicon glyphicon-cog"></i>
                                                </a>
                                            </td>
                                        </tr>


                                    </tbody>

                                </table>

                            </div>
                        </td>
                    </tr>
                    <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                        <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td>OBS Name</td>
                        <td>OBS Description</td>
                        <td>hpcloud</td>
                        <td>nova</td>
                        <td> created</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
                    </tr>
                    <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                        <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td>OBS Name</td>
                        <td>OBS Description</td>
                        <td>hpcloud</td>
                        <td>nova</td>
                        <td> created</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3</div></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>







@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@
